.header {
  width: 100%;
  display: flex;
  background-color: bisque;
}

.my-photo {
  width: 40%;
}

.my-photo img {
  width: 40%;
  margin: 20px;
}

.header-content {
  width: 60%;
  margin: 20px;
}
.header-content-description{
  font-family: sans-serif;
}

.middle{
  background-color: rgb(241, 211, 155);
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.datos {
    font-size: 12px;
    margin-left: 15px;
}

.section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

.button {
  background-color: rgb(195, 139, 65);
  color: white;
  border-radius: 40%;
  padding: 5px;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}
.social-button {
  text-decoration: none;
  color: rgb(194, 141, 77);
} 
.social-button:hover {
  background-color: aqua;
}
.footer {
  background-color: rgba(255, 228, 196, 0.479);
  padding: 10px;
}
.footer ul {
  text-align: center;
  padding-right:50px ;
}
.footer li {
  display: inline;
  text-align: center;
  margin: 170px
}